doctype html
html
    head
        title EU Web Challenge

        link(rel='shortcut icon', href='/favicon.ico', type="image/x-icon")
        link(rel='stylesheet', href='css/main.css')
    body
        header Dear Guest, Welcome to EU Web Challange task 1.0.1
        #app-root

        script(src="/lib/requirejs/require.js", data-main="/js/config.js")